*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: teal;
    display: flex;
    justify-content: center;
}
.container{
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
h1{
    text-align: center;
    color: darkkhaki;
}
.question{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.options{
    margin-bottom: 20px;
   
}
.option{
    display: block;
    margin-bottom: 10px;
}
.btn{
    display: inline-block;
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-left: 120px;
}
.btn:hover{
     background-color: cornflowerblue;
}
.result{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: gray;
}
.hide{
    display: none;
    margin-top: 15px;
    margin-bottom: 15pxpx;

}